@tailwind base;
@tailwind components;
@tailwind utilities;


/* .chart {
  overflow: visible;
} */

.label {
  font-size: xx-small;
  color: white !important;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.candleGroup:hover {
  filter: grayscale(100%) sepia(100%);
}