@tailwind base;
@tailwind components;
@tailwind utilities;


.chart {
  width: 1500px;
  height: 100%;
}

.label {
  font-size: xx-large;
  font-weight:bold;
  color: white !important;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}